/* https: //coolors.co/palette/a3ebe9-62b6cb-1b4965-cae9ff-5fa8d3 */

/* Visibilidad de pantallas */
/* .seccion{display: none !important} */
.visible {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.oculto {
    display: none !important
}

/* Fuente */

/* --------------- */




/* 
//////////////////////////////////////////////////////////////
 */



/* MENU ENFERMERO */


.contenedorEnfermero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 30% 25% 25% 20%;
    gap: 5%;
    margin: 1em;
}

.headerEnfermero {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}


/* #formacion {
    max-width: 35%;
} */

.seccionMEnf {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: -1;

}

.seccionMEnf2 {
    grid-column-start: 3;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: -1;
}




/* PANELES DE LOS TEST */
.test {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    margin: 20px;
    overflow: hidden;
    width: 100%;
    max-height: 7em;
    min-width: 200px;
}

.test-info {
    background-color: #2A265F;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 45%;
    width: 45%;
}

.test-status {
    padding: 15px;
    position: relative;
    max-width: 100%;
    width: 100%;
    font-size: 0.5em;
}

/* TABLA DE CITAS */
#horarioCitas {
    border: 1px solid;
    width: 100%;
    background-color: aliceblue;
    border-collapse: collapse;
    text-align: center;
    border-radius: 3px;
}

#horarioCitas thead tr th {
    border: 1px solid;
}

#horarioCitas td {
    width: 20%;
    height: 10%;
}


.tipo0 {
    background-color: mediumspringgreen;
    border-radius: 3px;
    height: 30px;
}

.tipo0:hover {
    background-color: rgba(0, 136, 84, 0.274);
}

.tipo1 {
    background-color: aqua;
    height: 30px;
}

.tipo1:hover {
    background-color: rgba(0, 110, 110, 0.397);
}

.tipo0>div {
    height: 17px;
}

.tipo1>div {
    height: 17px;
}

.casillaHora {
    border: 1px solid;
    background-color: turquoise;
    height: 10px;

}

.celdaCita {
    transition: all 250ms;
    border-radius: 10px;
    font-size: .8vw;
}

.celdaCita:hover {
    font-size: 0.7vw;
}

table {
    border: 1;
}



#formularioRegistroPaciente>section {
    border-width: 0.2em;
    border-bottom-style: solid;
    border-left-style: solid;
    box-sizing: border-box;
    margin: 0.5em;
    padding: 0.5em;
}

#formularioEditarPaciente>section {
    border-width: 0.2em;
    border-style: solid;
    box-sizing: border-box;
}














.cajaDatos {
    border-left: solid black;
    /* height: 2em; */
    padding: .6em;
}

.listaDatos {
    border-left: solid rgb(51, 51, 51);
}

.listaDatos:before {
    content: attr(aria-label);
    font-size: 120%;
    font-weight: bold;
    margin-left: -15px;
}

.identificadoresPaciente {
    border-left: solid black;
    padding: .6em;
}


/* MENU TEST */
.enunciadoPregunta {
    border: solid black;
}

.respuestaTest {
    border: solid black;
    border-radius: 1px;
}




#listaMedicamentosEncontrados {
    list-style-type: none;
    border-top: 0.4em solid rgb(14, 13, 13);
    border-bottom: 0.4em solid rgb(14, 13, 13);
    border-left: 0.2em solid rgb(14, 13, 13);
    border-right: 0.2em solid rgb(14, 13, 13);
    margin: 0;
    padding: 0;
    background-color: rgb(184, 204, 200);
    height: 250px;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#listaMedicamentosEncontrados>li {
    border-bottom: 0.1em solid black;
}



/*  ///////////////////////////////////////////////////////////////////////////////////  */
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: Ubuntu, "times new roman", times, roman, serif;
    background-color: #cae9ff;
    padding: 0 5vw;
}

textarea{
    font-family: Ubuntu, "times new roman", times, roman, serif;
}
input{
    font-family: Ubuntu, "times new roman", times, roman, serif;
}


.contenedorFlotante {
    background-color: #bbe9f7;
    box-shadow: 0.5em 0.5em 2em rgba(0, 0, 0, 0.644);
    padding: 5%;
}


#login {
    display: flex;
    height: 100%;
    align-items: center;
}

.formularioLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;

}

.contenedorAdmin {
    display: flex;
    flex-direction: column;
}

.headerAdmin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 0 5vw 0 5vw;
}

.bodyAdmin {
    display: flex;
}
.bodyEnfermero {
    display: flex;
}

.sectionTitleEnf {
    border-bottom: solid 0.3em;
    text-align: center;
}


.bodyAdmin .card {
    flex-grow: 3;
    margin: 0 3vw;
}

.bodyAdmin .card:first-child {
    margin-left: 0;
}

.bodyAdmin .card:last-child {
    margin-right: 0;
}

.card button {
    width: 100%;
}

.cardHeader {
    text-align: center;
    border-bottom: solid;
    border-bottom-width: 0.2em;
    padding: 1;
}

.formulario {
    width: fit-content;
}

.contenedorOpcionesFormulario {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

#menuRegistrarEnfermero .formulario {
    align-self: center;
}

.bodyMantenimientoCita {
    display: flex;
}

.bodyMantenimientoCita>div {
    flex-grow: 1;
    margin: 0 4vw;
}

.bodyMantenimientoCita>div:first-child {
    margin-left: 0;
}

.bodyMantenimientoCita>div:last-child {
    margin-right: 0;
}

.bodyMantenimientoCita .groupInput,
.bodyMantenimientoCita ul {
    width: 100%;
}







/* INPUTS */

.groupInput {
    margin-top: 16px;
    position: relative;
    width: fit-content;
    padding: 0 10px 0 5px;
}

input,
textarea {
    background: none;
    padding: 10px 0;
    display: block;
    border: none;
    min-width: 320px;
    border-radius: 0;
    border-bottom: 1px solid #1b4965;
    width: 100%;
    background-color: #00000005;
}

input[type=date],
input[type=datetime-local] {
    color: transparent;
}

input[type=date]:focus,
input[type=date]:valid,
input[type=datetime-local]:focus,
input[type=datetime-local]:valid {
    color: black;
}

input:focus,
textarea:focus {
    outline: none;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    top: -14px;
    font-size: 75%;
    color: #1b4965;
}

input:disabled:focus,
input:disabled:valid,
input:disabled~label,
textarea:disabled:focus,
textarea:disabled:valid,
textarea:disabled~label {
    color: #b1b1b1;
}

input:disabled,
textarea:disabled {
    border-bottom-color: #b1b1b1;
}

input:disabled~.bar::before,
textarea:disabled~.bar::before {
    background-color: #b1b1b1;
}

input:focus~.bar:before,
textarea:focus~.bar:before {
    width: 100%;
    content: '';
}

input[type="password"] {
    letter-spacing: 0.3em;
}

label {
    color: #000000a1;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;
}

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #1b4965;
    transition: 300ms ease all;
    left: 0%;
}

#formularioRegistroPaciente {
    width: 90%;
}


/* AUTOCOMPLETADO */
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #1b4965;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #1b4965;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

/* BOTONES */
button {
    cursor: pointer;
    align-items: center;
    justify-content: center;
    line-height: 1.25;
    font-weight: 500;
    margin: 0;
    min-height: 2rem;
    padding: calc(.725rem - 1px) calc(1.1rem - 1px);
    position: relative;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    border-radius: 4px;
    border-color: #072445;
    background-color: #ddeefa;
}

button:hover {
    transform: translateY(-1.5px);
    background-color: #d1eafa;
}

button:active {
    transform: translateY(0);
}

button.botonRetroceso {
    background-color: #fbfbe9;
}

button.botonRetroceso:hover {
    background-color: #eeedd0;
}


.contenedorParametros {
    display: flex;
    align-items: center;
}

.contenedorParametros button {
    line-height: initial;
    min-height: initial;
    padding: initial;
}




.contenedorCita {
    display: flex;
    flex-direction: row;
    margin: 1vw -3vw;
}
.contenedorEnfermero {
    display: flex;
    flex-direction: column;
    margin: 1vw -3vw;
}

.contenedorIzquierdo{
    flex-grow: 1;
    margin-right: 1.25%;
    flex: 50%;
}

.contenedorDerechoEnfermero {
    flex-grow: 1;
    margin-left: 1.25%;
    flex: 50%;
}

.contenedorDerecho{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 1.25%;
    flex: 50%;
}

.contenedorCita .groupInput {
    width: 100%;
}

.contenedorVariables {
    margin-bottom: 10px;
}

.contenedorTratamiento {
    margin-top: 10px;
}

.contenedorIzquierdo,
.contenedorTratamiento,
.contenedorVariables,
.contenedorDerechoEnfermero {
    padding: 2% 5% 2% 5%;
}

.contenedorTabla{
    overflow-y: scroll;
    max-height: 65vh;
}
.listaPersonas{
    border-collapse: collapse;
    width: 100%;
}
.listaPersonas th,td{
    text-align: center;
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.listaPersonas tr{
    border-bottom: 1px solid #4a4cbd;
}
.listaPersonas tr:nth-child(even) {
    background-color: #7cf8be;
}

#menuDarCita .formulario{
    align-self: center;
}

#citaSintomasSignos{
    margin-top:21px;
}

